@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --rubik: 'Rubik', sans-serif;
  --mulish: 'Mulish', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

header {
  font-family: var(--rubik);
}

select {
  background: transparent;
  border: 0;
  font-family: var(--rubik);
  font-size: 16px;
}

select:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 10%;
}

.btn {
  border: none;
  background-color: #7AC751;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* start top bar */
#top-bar {
  height: 50px;
  background: #7AC751;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

#top-bar .top-left {
  color: #fff;
}

#top-bar .top-right {
  display: flex;
  align-items: center;
  color: #fff;
}

#top-bar .top-right .login-navigation {
  border-width: 0 0 0 2.2px;
  border-style: solid;
  border-color: #fff;
  padding-left: 20px;
}

#top-bar .top-right a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

#top-bar select {
  margin-right: 20px;
  color: white;
}
/* end top bar */

/* start search bar */
#search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
  margin-bottom: 25px;
}

.search-input-field {
  width: 582px;
  height: 46px;
  border: 2px solid #7AC751;
  border-radius: 8px;
  display: flex;
  align-items: center;
  
}

#search-bar .search-input-field input {
  border: 0;
  width: 100%;
  padding-left: 25px;
  font-size: 14px;
  line-height: 16.59px;
}

.search-input-field input:focus {
  outline: none;
}

.search-input-field ::placeholder {
  color: #B0B0B0;
  font-size: 14px;
  line-height: 16.59px;
}

.search-input-field .search-category {
  padding: 0 10px 0 10px;
  border-width: 0 0 0 1.5px;
  border-style: solid;
  border-color: #E3E3E3C7;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-input-field select {
  color: #555555;
}

.search-input-field .search-icon {
  height: 100%;
  width: 55px;
  background: #7AC751;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-field .search-icon img {
  width: 16px;
  height: 16px;
}

#search-bar .icons {
  display: flex;
  align-items: center;
}

#search-bar .icons .cart-icon-with-number {
  position: relative;
}

#search-bar .icons .cart-icon-with-number .cart-number {
  position: absolute;
  top: 0;
  right: -6px;
  background: #7AC751;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  font-size: 7px;
  line-height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#search-bar .icons .nav-icon {
  margin-left: 22px;
}
/* end search bar */

/* start main navbar */
#main-navbar {
  height: 67px;
  background: #F7F8FA;
  display: flex;
  align-items: center;
}

#main-navbar .all-collection-btn {
  background: #7AC751;
  height: 100%;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2%;
  border: none;
}

#main-navbar .all-collection-btn img {
  margin-right: 20px;
}

#main-navbar .nav-list {
  margin-left: 82px;
}

#main-navbar .nav-list ul {
  display: flex;
  align-items: center;
}

#main-navbar .nav-list ul li {
  margin-right: 65px;
}

#main-navbar .nav-list a {
  color: #555555;
}
/* end main navbar */

/* start hero section */
#hero {
  display: flex;
}

#hero .collection-list ul {
  background: #F7F8FA;
  width: 260px;
}

#hero .collection-list ul li {
  height: 40px;
  border-bottom: 0.8px solid #E3E3E3;
  padding-left: 28px;
  display: flex;
  align-items: center;
}

#hero .collection-list ul li:last-child {
  border: none;
}

#hero .collection-list ul li a {
  color: #555555;
}

#hero .hero-carousel {
  width: 100%;
  margin-left: 10px;
  margin-top: 12px;
}

#hero .hero-carousel .slide {
  height: 100%;
  display: flex;
  align-items: center;
  background: #F1FAFF;
  border-radius: 1px;
  padding-left: 48px;
  padding-right: 40px;
}

#hero .highlighted-text {
  position: relative;
}

#hero .highlighted-text img {
  position: absolute;
  bottom: 0;
  right: 5px;
}

#hero .hero-carousel .shop-now-btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-family: var(--mulish);
  font-size: 16px;
  font-weight: 700;
  margin-top: 35px;
}

#hero .hero-carousel .slide-image {
  height: 374px;
}

#hero .hero-carousel .slide-products .product {
  background: #fff;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 6px;
}

#hero .slide-products .product .product-price, #hero .slide-products .product .product-title {
}

#hero .slide-products .product .product-price {
  font-size: 11px;
  font-weight: 500;
}

#hero .slide-products .product .product-title {
  font-size: 7px;
}
/* end hero section */